body{
    margin:0;
    padding:0;
    text-align: center;
}

.container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container-item1{
    flex:auto;
}

.container-item2{
    flex:auto;
}

.item{
    display:inline;
    width:250px;
    height:100px;
    margin-top: 5%;
    flex: auto;
}

.button1{
    transition: all .4s ease;
    background-color:rgb(37, 37, 223);
    color:white;
    border-radius:10px;
    font-size:2em;
}

.button1:hover{
    background-color:rgb(205, 205, 235);
    color:rgb(37, 37, 223);
}

.button2{
    background-color:rgb(214, 7, 7);
    color:white;
    border-radius:10px;
    font-size:2em;
}

.button2:hover{
    transition: all .4s ease;
    background-color:rgb(247, 207, 207);
    color:rgb(214, 7, 7);
}

.button3{
    background-color:rgb(20, 214, 46);
    color:white;
    border-radius:10px;
    font-size:2em;
}

.button3:hover{
    transition: all .4s ease;
    background-color:rgb(197, 233, 202);
    color:rgb(20, 214, 46);
}

.button4{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius:10px;
    font-size:2em;
}

.button4:hover{
    transition: all .4s ease;
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}